alabaster==0.7.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
attrs==22.2.0; python_version >= "3.7"
babel==2.12.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
black==23.1.0; python_version >= "3.7"
bleach==6.0.0; python_version >= "3.7"
bump2version==1.0.1; python_version >= "3.5"
bumpversion==0.6.0
certifi==2022.12.7; python_version >= "3.7" and python_version < "4"
cffi==1.15.1; sys_platform == "linux" and python_version >= "3.7"
charset-normalizer==3.0.1; python_version >= "3.7" and python_version < "4"
click==8.1.3; python_version >= "3.7"
colorama==0.4.6; python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "win32" and python_version < "3.11" and platform_system == "Windows" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6") or sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.7.0" and python_version < "3.11" and platform_system == "Windows" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6")
contourpy==1.0.7; python_version >= "3.8"
control==0.9.3.post2; python_version >= "3.8"
cryptography==39.0.1; sys_platform == "linux" and python_version >= "3.7"
cycler==0.11.0; python_version >= "3.8"
docutils==0.17.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
emgregs==0.0.4; python_version >= "3.8" and python_version < "3.11"
exceptiongroup==1.1.0; python_version < "3.11" and python_version >= "3.7"
fonttools==4.38.0; python_version >= "3.8"
idna==3.4; python_version >= "3.7" and python_version < "4"
imagesize==1.4.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
importlib-metadata==6.0.0; python_version < "3.10" and python_version >= "3.7" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6")
importlib-resources==5.12.0; python_version < "3.9" and python_version >= "3.8"
iniconfig==2.0.0; python_version >= "3.7"
jaraco.classes==3.2.3; python_version >= "3.7"
jeepney==0.8.0; sys_platform == "linux" and python_version >= "3.7"
jinja2==3.1.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
joblib==1.2.0; python_version >= "3.8" and python_version < "3.11"
keyring==23.13.1; python_version >= "3.7"
kiwisolver==1.4.4; python_version >= "3.8"
markdown-it-py==2.2.0; python_full_version >= "3.7.0" and python_version >= "3.7"
markupsafe==2.1.2; python_version >= "3.7"
matplotlib==3.7.0; python_version >= "3.8"
mdurl==0.1.2; python_full_version >= "3.7.0" and python_version >= "3.7"
more-itertools==9.1.0; python_version >= "3.7"
mypy-extensions==1.0.0; python_version >= "3.7"
numpy==1.24.2; python_version >= "3.8"
packaging==23.0; python_version >= "3.8" and python_version < "3.11" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7")
pandas==1.5.3; python_version >= "3.8"
pathspec==0.11.0; python_version >= "3.7"
patsy==0.5.3; python_version >= "3.8" and python_version < "3.11"
pillow==9.4.0; python_version >= "3.8"
pkginfo==1.9.6; python_version >= "3.7"
platformdirs==3.0.0; python_version >= "3.7"
pluggy==1.0.0; python_version >= "3.7"
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "linux" or sys_platform == "linux" and python_version >= "3.7" and python_full_version >= "3.4.0"
pygments==2.14.0; python_full_version >= "3.7.0" and python_version >= "3.7"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.8"
pytest==7.2.1; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.11" or python_full_version >= "3.3.0" and python_version >= "3.8" and python_version < "3.11"
pytz==2022.7.1; python_version >= "3.8" and python_version < "3.9"
pywin32-ctypes==0.2.0; sys_platform == "win32" and python_version >= "3.7"
readme-renderer==37.3; python_version >= "3.7"
requests-toolbelt==0.10.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
requests==2.28.2; python_version >= "3.7" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7")
rfc3986==2.0.0; python_version >= "3.7"
rich==13.3.1; python_full_version >= "3.7.0" and python_version >= "3.7"
scikit-learn==1.2.1; python_version >= "3.8" and python_version < "3.11"
scipy==1.8.1; python_version >= "3.8" and python_version < "3.11" and (python_version > "3.9" or platform_system != "Windows" or platform_machine != "x86") and (python_version == "3.8" and platform_system == "Windows" and platform_machine == "x86" or python_version == "3.9" and platform_system == "Windows" and platform_machine == "x86")
secretstorage==3.3.3; sys_platform == "linux" and python_version >= "3.7"
setuptools-scm==7.1.0; python_version >= "3.8"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.11" or python_full_version >= "3.3.0" and python_version >= "3.8" and python_version < "3.11"
snowballstemmer==2.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinx-rtd-theme==1.1.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
sphinx==5.3.0; python_version >= "3.6"
sphinxcontrib-applehelp==1.0.4; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
sphinxcontrib-devhelp==1.0.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinxcontrib-htmlhelp==2.0.1; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
sphinxcontrib-jsmath==1.0.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinxcontrib-qthelp==1.0.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
sphinxcontrib-serializinghtml==1.1.5; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
statsmodels==0.13.5; python_version >= "3.7"
tabulate==0.9.0; python_version >= "3.7"
threadpoolctl==3.1.0; python_version >= "3.8" and python_version < "3.11"
tomli==2.0.1; python_version < "3.11" and python_version >= "3.8"
tqdm==4.64.1; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.11" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0"
twine==4.0.2; python_version >= "3.7"
typing-extensions==4.5.0; python_version < "3.9" and python_version >= "3.8" and python_full_version >= "3.7.0"
urllib3==1.26.14; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4"
webencodings==0.5.1; python_version >= "3.7"
zipp==3.15.0; python_version < "3.10" and python_version >= "3.8"
